In [ ]:
# 数据分析流程：
# 1. 导入必要的库
# 2. 导入数据
# 3. 数据清洗
# 4. 数据特征构造
# 5. 数据分析

In [20]:
# 1. 企鹅数据分析

# 1. 导入必要的库
import pandas as pd
import numpy as np

# 2. 导入数据，查看数据
df = pd.read_csv('./data/penguins.csv')
# df.head(5)
# df.info()

# 3. 数据清洗
print(df.isna().sum())
df.dropna(inplace=True)
print('-' * 50)
print(df.isna().sum())

# 4. 数据特征构造

# 4.1 性别 字符串→category
df['sex'] = df['sex'].astype('category')
# print(df.info())

# 4.2 求喙的长宽比（构造了新的数据特征）
df['bill_ratio'] = df['bill_length_mm'] / df['bill_depth_mm']

# 5. 数据分析
# 数据分箱-把体重设为三个等级
df['mass_levels'] = pd.cut(df['body_mass_g'], bins=3, labels=['低', '中', '高'])
print(df['mass_levels'].value_counts())

# 聚类分析-按岛屿、性别分组分析
# 1. 单性别
df.groupby(['sex']).agg({
    # agg abbr. aggregation
    'body_mass_g': ['mean', 'count']
})

# 2. 单岛屿
df.groupby(['island']).agg({
    # agg abbr. aggregation
    'body_mass_g': ['mean', 'count']
})

# 3. 性别 + 岛屿
df.groupby(['sex', 'island']).agg({
    # agg abbr. aggregation
    'body_mass_g': ['mean', 'count']
})

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64
--------------------------------------------------
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64
mass_levels
低    150
中    128
高     55
Name: count, dtype: int64

C:\Users\XPH\AppData\Local\Temp\ipykernel_11128\3616391088.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex']).agg({
C:\Users\XPH\AppData\Local\Temp\ipykernel_11128\3616391088.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'island']).agg({

                  body_mass_g
                         mean count
sex    island
Female Biscoe     4319.375000    80
       Dream      3446.311475    61
       Torgersen  3395.833333    24
Male   Biscoe     5104.518072    83
       Dream      3987.096774    62
       Torgersen  4034.782609    23

In [52]:
# 2. 睡眠质量分析：

# 1. 导入必要的库
# 2. 导入数据
df = pd.read_csv('./data/sleep.csv')
# df.head(5)
# df.info()
# df.describe()

# 3. 数据清洗
# print(df.isna().sum()) # 确实数据太多，不能直接删掉
print(df['sleep_disorder'].value_counts())
# 方法1：填数据
print(df['sleep_disorder'].fillna('unknown', inplace=True))
# 方法2：丢掉那一列
df.drop(columns='sleep_disorder', inplace=True)
print(df)

# 4. 数据特征构造
# 数据类型转换后，分箱、分组聚合会容易
# 4.1 性别 → category
df['gender'] = df['gender'].astype('category')
# print(df.info())

# 4.2 职业 → category
print(df['occupation'].value_counts()) # 先看看能不能分类，太多分不了
df['occupation'] = df['occupation'].astype('category')
# print(df.info())

# 4.3 bmi_category → category
df['bmi_category'] = df['bmi_category'].astype('category')

# 4.4 blood_pressure分开
df[['high', 'low']] = df['blood_pressure'].str.split('/', expand=True)
print(df.head())

# 5. 数据分析
# 5.1 数据分箱
df['sleep_level'] = pd.cut(df['sleep_quality'], bins=3, labels=['低', '中', '高'])
df['age_stage'] = pd.cut(df['age'], bins=3, labels=['少年', '中年', '老年'])
print(df.info())

# 5.2 分组聚合
# 查看不同bmi的人睡眠质量有什么区别
# print(df['bmi_category'].value_counts())
# 多组、多聚合
df.groupby(['bmi_category', 'age_stage']).agg({
    'sleep_duration': 'mean',
    'sleep_quality': 'mean',
    'stress_level': 'mean'
})

sleep_disorder
Insomnia       79
Sleep Apnea    31
Name: count, dtype: int64
None
     person_id  gender  age     occupation  sleep_duration  sleep_quality  \
0            1    Male   29   Manual Labor             7.4            7.0
1            2  Female   43        Retired             4.2            4.9
2            3    Male   44        Retired             6.1            6.0
3            4    Male   29  Office Worker             8.3           10.0
4            5    Male   67        Retired             9.1            9.5
..         ...     ...  ...            ...             ...            ...
395        396  Female   36        Student             4.5            7.9
396        397  Female   45   Manual Labor             6.0            6.1
397        398  Female   30        Student             5.3            6.5
398        399  Female   41        Retired            11.0            9.1
399        400    Male   37        Retired             5.8            7.0

     physical_activity_level  stress_level bmi_category blood_pressure  \
0                         41             7        Obese         124/70
1                         41             5        Obese         131/86
2                        107             4  Underweight         122/70
3                         20            10        Obese         124/72
4                         19             4   Overweight         133/78
..                       ...           ...          ...            ...
395                       73             7       Normal         118/66
396                       72             8        Obese         132/80
397                       58            10        Obese         125/76
398                       73             9        Obese         130/75
399                       41             6       Normal         118/70

     heart_rate  daily_steps
0            91         8539
1            81        18754
2            81         2857
3            55         6886
4            97        14945
..          ...          ...
395          64        14497
396          65        12848
397          66        15255
398          75         6567
399          51        18079

[400 rows x 12 columns]
occupation
Student          110
Office Worker     99
Manual Labor      96
Retired           95
Name: count, dtype: int64
   person_id  gender  age     occupation  sleep_duration  sleep_quality  \
0          1    Male   29   Manual Labor             7.4            7.0
1          2  Female   43        Retired             4.2            4.9
2          3    Male   44        Retired             6.1            6.0
3          4    Male   29  Office Worker             8.3           10.0
4          5    Male   67        Retired             9.1            9.5

   physical_activity_level  stress_level bmi_category blood_pressure  \
0                       41             7        Obese         124/70
1                       41             5        Obese         131/86
2                      107             4  Underweight         122/70
3                       20            10        Obese         124/72
4                       19             4   Overweight         133/78

   heart_rate  daily_steps high low
0          91         8539  124  70
1          81        18754  131  86
2          81         2857  122  70
3          55         6886  124  72
4          97        14945  133  78
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   person_id                400 non-null    int64
 1   gender                   400 non-null    category
 2   age                      400 non-null    int64
 3   occupation               400 non-null    category
 4   sleep_duration           400 non-null    float64
 5   sleep_quality            400 non-null    float64
 6   physical_activity_level  400 non-null    int64
 7   stress_level             400 non-null    int64
 8   bmi_category             400 non-null    category
 9   blood_pressure           400 non-null    object
 10  heart_rate               400 non-null    int64
 11  daily_steps              400 non-null    int64
 12  high                     400 non-null    object
 13  low                      400 non-null    object
 14  sleep_level              400 non-null    category
 15  age_stage                400 non-null    category
dtypes: category(5), float64(2), int64(6), object(3)
memory usage: 37.2+ KB
None

C:\Users\XPH\AppData\Local\Temp\ipykernel_11128\56436345.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print(df['sleep_disorder'].fillna('unknown', inplace=True))
C:\Users\XPH\AppData\Local\Temp\ipykernel_11128\56436345.py:47: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['bmi_category', 'age_stage']).agg({

                        sleep_duration  sleep_quality  stress_level
bmi_category age_stage
Normal       少年               8.100000       6.332000      4.860000
             中年               7.422222       6.650000      4.944444
             老年               7.420000       4.240000      4.200000
Obese        少年               8.250000       6.253448      5.534483
             中年               7.805556       6.216667      5.888889
             老年               7.900000       5.025000      8.000000
Overweight   少年               8.214286       6.171429      5.317460
             中年               8.246154       5.956410      5.974359
             老年               8.971429       6.285714      6.714286
Underweight  少年               7.603279       5.883607      5.426230
             中年               8.497500       5.907500      5.750000
             老年              10.500000       6.200000      6.000000